/**
 * Border radius
 *
 * @param   unit    $radius     The radius
 */
@mixin border-radius($radius: 0) {
    @if $radius == none {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    } @else {
        -webkit-border-radius: $radius;
        -moz-border-radius: $radius;
        border-radius: $radius;
    }
}

