
.figure-application {
    fill: #fc6;
    stroke-width: 1;
    stroke: #4C3D1F;
}

.figure-bundle {
    fill: #69f;
    stroke-width: 1;
    stroke: #1A3380;
}

.figure-line {
    stroke-width: 1;
    stroke: #666;
}
